/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable order/properties-order */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable rule-empty-line-before */

.map {
  &__descr {
    margin-bottom: 81px;
    max-width: 600px;
  }

  &__image-cont {
    margin-bottom: 84px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include small-tablet {
      margin-bottom: 44px;
    }

    @include small-mobile {
      margin-bottom: 14px;
    }
  }

  &__image-descr {
    color: #383838;
  }
}

.map-filter {
  margin: 0 0 30px 0;
  display: none;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  min-height: 45px;
  user-select: none;
}

.map-filter .select2-container {
  margin: 5px 10px 5px 0;
  user-select: none;
}
.map-filter .select2-container * {
  user-select: none;
}

.ethnicMap__legendList-container {
  overflow: auto;
  margin: 0 auto 30px auto;
  max-width: 1900px;
  display: none;
}

.ethnicMap__legendList {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  flex-direction: column;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ethnicMap__legendList-container .js-btn-more {
  display: none;
}

.ethnicMap__legendList li {
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  user-select: none;
}

.ethnicMap__legendList li:before {
  display: none;
  content: '';
}

.ethnicMap__legendList li span {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 7px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 14px;
  background: #fff;
  font-style: normal;
  white-space: nowrap;
  margin: 22px 10px 0 -22px;
  position: relative;
  z-index: 10;
}

.ethnicMap__legendList li i {
  width: 14px;
  height: 14px;
  border-radius: 200px;
  background: #e65710;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
  position: relative;
  top: auto;
  left: 0;
  margin: 0px 15px 0 0;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
}
.ethnicMap__legendList li:hover i {
  background: linear-gradient(0deg, #00000026, #00000026), #e65710;
}

.ethnicMap__mode {
  display: none;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  margin: 0 0 30px;
  user-select: none;
}

.ethnicMap__mode div {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  margin: 5px 20px 5px 0;
  cursor: pointer;
  color: #767678;
  padding: 0 0 10px 0;
  border-bottom: 3px solid #000;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  user-select: none;
}

.ethnicMap__mode div:hover {
  color: #191919;
}

.ethnicMap__mode .active {
  color: #191919;
  border-bottom: 3px solid #323234;
}

.ethnicMap_wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}
.ethnicMap_wrapper .ethnicMap_info {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 12px;
  line-height: 14px;
}

.ethnicMap__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ethnicMap__container .btns_Zoom {
  display: none;
}
.ethnicMap__container .btns_Zoom .btn {
  font-size: 23px;
  line-height: 5px;
  font-weight: 400;
  height: 35px;
  width: 35px;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.ethnicMap__container .btns_Zoom .btn.zoomIn:before {
  content: '+';
  display: inline-block;
  padding: 12px 10px;
  border: 1px solid #000;
  border-radius: var(--border-radius);
  margin-right: 10px;
}
.ethnicMap__container .btns_Zoom .btn.zoomOut:before {
  content: '\2212';
  display: inline-block;
  padding: 12px 10px;
  border: 1px solid #000;
  border-radius: var(--border-radius);
}
.ethnicMap__container .btns_Zoom .btn:first-child {
  border-radius: 8px 0 0 8px;
}
.ethnicMap__container .btns_Zoom .btn:last-child {
  border-radius: 0px 8px 8px 0px;
}

.ethnicMap__containerMap {
  position: relative;
  width: 100%;
  padding: 0;
}

.ethnicMap__containerMap svg {
  width: 100%;
}

.ethnicMap__legendList li.size1 i {
  width: 14px;
  height: 14px;
}
.ethnicMap__legendList li.size2 i {
  width: 16px;
  height: 16px;
}
.ethnicMap__legendList li.size3 i {
  width: 18px;
  height: 18px;
}
.ethnicMap__legendList li.size4 i {
  width: 22px;
  height: 22px;
}
.ethnicMap__legendList li.size5 i {
  width: 24px;
  height: 24px;
}
.ethnicMap__legendList li.size6 i {
  width: 32px;
  height: 32px;
}
.ethnicMap__legendList li.size7 i {
  width: 40px;
  height: 40px;
}
.ethnicMap__legendList li.size8 i {
  width: 44px;
  height: 44px;
}
.ethnicMap__legendList li.size9 i {
  width: 60px;
  height: 60px;
}
.ethnicMap__legendList li.size10 i {
  width: 76px;
  height: 76px;
}
.ethnicMap__legendList li.size11 i {
  width: 108px;
  height: 108px;
}

.ethnicMap__legendList li.size12 {
  text-align: center;
}
.ethnicMap__legendList li.size12 i {
  width: 320px;
  height: 320px;
  display: block;
  margin: 0 auto 10px auto;
}

.mapTip {
  position: absolute;
  z-index: 99;
  display: none;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
}
.mapTip.opened {
  display: block !important;
}
.mapTip .js-btn-more {
  display: none;
  margin-top: 20px;
}

.mapTip .mapTip-cont {
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  filter: drop-shadow(0px 8px 32px #0000001a);
  user-select: none;
}

.mapTip * {
  user-select: none;
}

.mapTip .close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.mapTip:after {
  display: block;
  width: 100%;
  content: ' ';
  clear: both;
}

.mapTip .mapTip-img {
  width: 100px;
  height: 100px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0px 0 0;
  display: table-cell;
  vertical-align: top;
}

.mapTip .mapTip-content {
  margin: 0 0px 0 0;
  padding: 0 0 0 25px;
  display: table-cell;
  vertical-align: top;
}

.mapTip .mapTip-title {
  max-width: 270px;
}
.mapTip-list {
  font-size: 16px;
  line-height: 18px;
  color: #767678;
  display: table;
}
.mapTip-list .row {
  margin: 0 0 7px 0;
  display: table-row;
}
.mapTip-list .row div {
  padding: 8px 0 0 0;
  display: table-cell;
  vertical-align: top;
}
.mapTip-list .row > div:last-child {
  text-align: right;
  white-space: nowrap;
  padding-left: 15px;
}

.mapTip-list .row:first-child div {
  padding-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0 0 0 / 17%);
}

.mapTip-list *[data-reg],
.mapTip-list *[data-ethns] {
  text-decoration: underline;
  cursor: pointer;
}

.mapTip-list *[data-reg]:hover,
.mapTip-list *[data-ethns]:hover {
  text-decoration: none;
}

.mapPopup {
  user-select: none;
}
.mapPopup * {
  user-select: none;
}
.mapPopup .mapPopup-img {
  width: 135px;
  height: 160px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  display: table-cell;
  vertical-align: top;
}

.mapPopup .mapPopup-info {
  max-width: 300px;
  margin: 0 0px 0 0;
  padding: 0 0 0 25px;
  display: table-cell;
  vertical-align: top;
}

.mapPopup .mapPopup-description {
  font-size: 16px;
  line-height: 20px;
  color: #767678;
}
.mapPopup .mapPopup-description b,
.mapPopup .mapPopup-description strong {
  color: #191919;
}
.mapPopup .mapPopup-description li:before {
  display: none;
}
.mapPopup .mapPopup-description li {
  padding-left: 0;
}

.mapPopup .mapPopup-description p {
  margin: 0 0 15px;
}

.mapPopup .mapPopup-counts {
  padding: 0 20px 0 40px;
  display: table-cell;
  vertical-align: top;
}

.ethnicMap__containerMap g,
.ethnicMap__containerMap path {
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  cursor: pointer;
  fill: #37599b;
  opacity: 1;
}

.ethnicMap__containerMap svg path:hover,
.ethnicMap__containerMap svg g:hover path {
  fill: #25395f;
  opacity: 1;
  stroke-width: 3px;
  stroke: #a9c3f4;
}
.ethnicMap__containerMap svg g:hover {
  opacity: 1;
}

.ethnicMap__containerMap.selected path,
.ethnicMap__containerMap.selected g,
.ethnicMap__containerMap.selected g path {
  opacity: 1;
  fill: #e2d8d6;
}

.ethnicMap__containerMap.selected path:hover,
.ethnicMap__containerMap.selected g:hover,
.ethnicMap__containerMap.selected g:hover path {
  opacity: 1;
  fill: #d1c4c2;
}

.ethnicMap__containerMap.selected path.selected,
.ethnicMap__containerMap.selected g.selected,
.ethnicMap__containerMap.selected g.selected path,
.ethnicMap__containerMap.selected path.selected:hover,
.ethnicMap__containerMap.selected g.selected:hover,
.ethnicMap__containerMap.selected g.selected:hover path {
  fill: #ef9f91;
  stroke-width: 3px;
}

@include mini-desktop {
  .ethnicMap__container .btns_Zoom {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.popup {
  display: none;
  border-radius: var(--border-radius);
  background: #fff;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 4px 10px #0000001a;

  &__close {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
    color: #333;
  }

  &__inner {
    padding: 42px 38px 56px 45px;
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 600px;

    @include tablet {
      flex-direction: column;
      padding: 22px 18px 36px 25px;
      align-items: center;
    }
  }

  &__img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
  }

  &__descr {
    flex: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 34px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &-text {
      font-weight: 500;
      font-size: 16px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    &-num {
      font-weight: 500;
      font-size: 16px;
      color: #37599b;
    }
  }

  &__item:first-child {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #9e9e9e;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  @include small-tablet {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    display: none;

    &__close {
      display: block;
    }

    &.active {
      display: block;
      background: white;
      box-shadow: 0 10px 30px #0033;
      border-radius: var(--border-radius);
    }
  }
}

.popup.active {
  display: inline-block;
}
