<section class="abc">
  <div class="container">
    <div class="abc__inner">
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">A</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/a/abaziny.html.html">Абазины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/abhazy.html.html">Абхазы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/avartsy.html.html">Аварцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/aguly.html.html">Агулы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/adzhartsy.html.html">Аджарцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/adygheytsy.html.html">Адыгейцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/azerbaydzhantsy.html.html">Азербайджанцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/aleuty.html.html">Алеуты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/altaytsy.html.html">Алтайцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/alyutortsy.html.html">Алюторцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/andiytsy.html.html">Андийцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/araby.html.html">Арабы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/armyane.html.html">Армяне</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/archintsy.html.html">Арчинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/assiriytsy.html">Ассирийцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/astrakhanskie-tatary.html"
                >Астраханские татары</a
              >
            </li>
            <li class="abc__item">
              <a href="/nations/a/afgantsy.html">Афганцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/a/akhvakhtsy.html">Ахвахцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Б</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/b/bagulaly.html">Багулалы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/balkartsy.html">Балкарцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/bashkiry.html">Башкиры</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/bezhtintsy.html">Бежтинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/belorusy.html">Белорусы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/besermyane.html">Бесермяне</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/bolgary.html">Болгары</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/bosniytsy.html">Боснийцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/botlikhtsy.html">Ботлихцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/britantsy.html">Британцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/b/buryaty.html">Буряты</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">В</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/v/vengry.html">Венгры</a>
            </li>
            <li class="abc__item">
              <a href="/nations/v/vepsy.html">Вепсы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/v/vod.html">Водь</a>
            </li>
            <li class="abc__item">
              <a href="/nations/v/vetnamtsy.html">Вьетнамцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Г</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/g/gagauzy.html">Гагаузы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/ginukhtsy.html">Гинухцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/godoberintsy.html">Годоберинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/gornye-mariytsy.html">Горные марийцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/gorskie-evrei.html">Горские евреи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/greki.html">Греки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/gruzinskie-evrei.html">Грузинские евреи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/gruziny.html">Грузины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/g/gunzibtsy.html">Гунзибцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Д</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/d/dargincy.html">Даргинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/d/didoicy.html">Дидойцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/d/dolgany.html">Долганы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/d/dungane.html">Дунгане</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Е</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/e/evrei.html">Евреи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/e/yezidy.html">Езиды</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">И</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/i/izhorcy.html">Ижорцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/i/ingiloycy.html">Ингилойцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/i/ingushi.html">Ингуши</a>
            </li>
            <li class="abc__item">
              <a href="/nations/i/indiicy.html">Индийцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/i/ispancy.html">Испанцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/i/italyancy.html">Итальянцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/i/itelmeny.html">Ительмены</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">К</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/k/kabardintsy.html">Кабардинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kazaki.html">Казаки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kazakhi.html">Казахи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kaytagtsy.html">Кайтагцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kalmyki.html">Калмыки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kamchadaly.html">Камчадалы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/karagashi.html">Карагаши</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/karaimy.html">Караимы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/karakalpaki.html">Каракалпаки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/karatintsy.html">Каратинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/karachaevtsy.html">Карачаевцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/karely.html">Карелы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kereki.html">Кереки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kety.html">Кеты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kirgizy.html">Киргизы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kitaytsy.html">Китайцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/komi.html">Коми</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/komi-izhemtsy.html">Коми-ижемцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/komi-permyaki.html">Коми-пермяки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/koreytsy.html">Корейцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/koryaki.html">Коряки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/krymskie-tatary.html">Крымские татары</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/krymchaki.html">Крымчаки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kryasheny.html">Кряшены</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kubachintsy.html">Кубачинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kubintsy.html">Кубинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kumandintsy.html">Кумандинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kumyki.html">Кумыки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kurdy.html">Курды</a>
            </li>
            <li class="abc__item">
              <a href="/nations/k/kurmanch.html">Курманч</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Л</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/l/lazy.html">Лазы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/l/laktsy.html">Лакцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/l/latgaltsy.html">Латгальцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/l/latyshi.html">Латыши</a>
            </li>
            <li class="abc__item">
              <a href="/nations/l/lezginy.html">Лезгины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/l/litovtsy.html">Литовцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/l/lugovo-vostochnye-mariytsy"
                >Лугово-восточные марийцы</a
              >
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">М</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/m/makedontsy.html">Македонцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mansi.html">Манси</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mariytsy.html">Марийцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/megrely.html">Мегрелы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mennonity.html">Меннониты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mishari.html">Мишари</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/moldavane.html">Молдаване</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mongoly.html">Монголы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mordva.html">Мордва</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mordva-moksha.html">Мордва-мокша</a>
            </li>
            <li class="abc__item">
              <a href="/nations/m/mordva-erzya.html">Мордва-эрзя</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Н</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/n/nagaybaki.html">Нагайбаки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/nanaytsy.html">Нанайцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/nganasan.html">Нганасаны</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/negidaltsy.html">Негидальцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/nemtsy.html">Немцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/nentsy.html">Ненцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/nivkhi.html">Нивхи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/n/nogaytsy.html">Ногайцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">О</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/o/orochi.html">Орочи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/o/osetiny.html">Осетины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/o/osetiny-digortsy.html">Осетины-дигорцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/o/osetiny-irontsy.html">Осетины-иронцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">П</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/p/pakistantsy.html">Пакистанцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/p/persy.html">Персы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/p/polyaki.html">Поляки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/p/pomory.html">Поморы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Р</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/r/rumyny.html">Румыны</a>
            </li>
            <li class="abc__item">
              <a href="/nations/r/rusiny.html">Русины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/r/russkie.html">Русские</a>
            </li>
            <li class="abc__item">
              <a href="/nations/r/rutultsy.html">Рутульцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">С</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/s/saamy.html">Саамы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/svany.html">Сваны</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/selkupy.html">Селькупы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/serby.html">Сербы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/setu.html">Сету</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/slovaki.html">Словаки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/sloventsy.html">Словенцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/soyoty.html">Сойоты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/s/sredneaziatskie-evrei"
                >Среднеазиатские евреи</a
              >
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Т</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/t/tabasarany.html">Табасараны</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tadzhiki.html">Таджики</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tazy.html">Тазы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/talyshi.html">Талыши</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tatary.html">Татары</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/taty.html">Таты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/telengity.html">Теленгиты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/teleuty.html">Телеуты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tindaly.html">Тиндалы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tofalary.html">Тофалары</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tubalary.html">Тубалары</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tuvintsy.html">Тувинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/tuvintsy-todzhintsy.html">Тувинцы-тоджинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/turki.html">Турки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/turki-meskhetintsy.html">Турки-месхетинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/t/turkmeny.html">Туркмены</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">У</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/u/udiny.html">Удины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/udmurty.html">Удмурты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/udegeytsy.html">Удэгейцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/uzbeki.html">Узбеки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/uigury.html">Уйгуры</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/uylta.html">Уйльта</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/ukraintsy.html">Украинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/u/ulchi.html">Ульчи</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ф</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/f/finny.html">Финны</a>
            </li>
            <li class="abc__item">
              <a href="/nations/f/finny-ingermanlandtsy"
                >Финны-ингерманландцы</a
              >
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Х</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/h/khakasy.html">Хакасы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/h/khanty.html">Ханты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/h/khvarshiny.html">Хваршины</a>
            </li>
            <li class="abc__item">
              <a href="/nations/h/khemshily.html">Хемшилы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/h/horvaty.html">Хорваты</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ц</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/c/tsakhury.html">Цахуры</a>
            </li>
            <li class="abc__item">
              <a href="/nations/c/tsyganie.html">Цыгане</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ч</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/ch/chamalaly.html">Чамалалы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chelkanzy.html">Челканцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/cherkesogai.html">Черкесогаи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/cherkesy.html">Черкесы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chernogortsy.html">Черногорцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chehi.html">Чехи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chechentsy.html">Чеченцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chechentsy-akkinzy.html">Чеченцы-аккинцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chuvancy.html">Чуванцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chuvashi.html">Чуваши</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chukchi.html">Чукчи</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ch/chulymtsy.html">Чулымцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ш</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/sh/shapsugi.html">Шапсуги</a>
            </li>
            <li class="abc__item">
              <a href="/nations/sh/shortsy.html">Шорцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Э</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/e/evenki.html">Эвенки</a>
            </li>
            <li class="abc__item">
              <a href="/nations/e/eveny.html">Эвены</a>
            </li>
            <li class="abc__item">
              <a href="/nations/e/entsy.html">Энцы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/e/eskimosy.html">Эскимосы</a>
            </li>
            <li class="abc__item">
              <a href="/nations/e/estoncy.html">Эстонцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ю</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/yu/yugi.html">Юги</a>
            </li>
            <li class="abc__item">
              <a href="/nations/yu/yukagiry.html">Юкагиры</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Я</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="/nations/ya/yakuty.html">Якуты</a>
            </li>
            <li class="abc__item">
              <a href="/nations/ya/yaponcy.html">Японцы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
