<section class="abc">
  <div class="container">
    <div class="abc__inner">
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">A</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/a/abaziny">Абазины</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/abhazy">Абхазы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/avartsy">Аварцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/aguly">Агулы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/adzhartsy">Аджарцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/adygheytsy">Адыгейцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/azerbaydzhantsy">Азербайджанцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/aleuty">Алеуты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/altaytsy">Алтайцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/alyutortsy">Алюторцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/andiytsy">Андийцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/araby">Арабы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/armyane">Армяне</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/archintsy">Арчинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/assiriytsy">Ассирийцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/astrakhanskie-tatary"
                >Астраханские татары</a
              >
            </li>
            <li class="abc__item">
              <a href="../../nations/a/afgantsy">Афганцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/a/akhvakhtsy">Ахвахцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Б</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/b/bagulaly">Багулалы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/balkartsy">Балкарцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/bashkiry">Башкиры</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/bezhtintsy">Бежтинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/belorusy">Белорусы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/besermyane">Бесермяне</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/bolgary">Болгары</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/bosniytsy">Боснийцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/botlikhtsy">Ботлихцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/britantsy">Британцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/b/buryaty">Буряты</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">В</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/v/vengry">Венгры</a>
            </li>
            <li class="abc__item"><a href="../../nations/v/vepsy">Вепсы</a></li>
            <li class="abc__item"><a href="../../nations/v/vod">Водь</a></li>
            <li class="abc__item">
              <a href="../../nations/v/vetnamtsy">Вьетнамцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Г</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/g/gagauzy">Гагаузы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/g/ginukhtsy">Гинухцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/g/godoberintsy">Годоберинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/g/gornye-mariytsy">Горные марийцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/g/gorskie-evrei">Горские евреи</a>
            </li>
            <li class="abc__item"><a href="../../nations/g/greki">Греки</a></li>
            <li class="abc__item">
              <a href="../../nations/g/gruzinskie-evrei">Грузинские евреи</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/g/gruziny">Грузины</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/g/gunzibtsy">Гунзибцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Д</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/d/dargincy">Даргинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/d/didoicy">Дидойцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/d/dolgany">Долганы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/d/dungane">Дунгане</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Е</span>
          <ul class="abc__list">
            <li class="abc__item"><a href="../../nations/e/evrei">Евреи</a></li>
            <li class="abc__item">
              <a href="../../nations/e/yezidy">Езиды</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">И</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/i/izhorcy">Ижорцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/i/ingiloycy">Ингилойцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/i/ingushi">Ингуши</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/i/indiicy">Индийцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/i/ispancy">Испанцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/i/italyancy">Итальянцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/i/itelmeny">Ительмены</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">К</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/k/kabardintsy">Кабардинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kazaki">Казаки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kazakhi">Казахи</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kaytagtsy">Кайтагцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kalmyki">Калмыки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kamchadaly">Камчадалы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/karagashi">Карагаши</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/karaimy">Караимы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/karakalpaki">Каракалпаки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/karatintsy">Каратинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/karachaevtsy">Карачаевцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/karely">Карелы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kereki">Кереки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kety">Кеты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kirgizy">Киргизы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kitaytsy">Китайцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/komi">Коми</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/komi-izhemtsy">Коми-ижемцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/komi-permyaki">Коми-пермяки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/koreytsy">Корейцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/koryaki">Коряки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/krymskie-tatary">Крымские татары</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/krymchaki">Крымчаки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kryasheny">Кряшены</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kubachintsy">Кубачинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kubintsy">Кубинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kumandintsy">Кумандинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kumyki">Кумыки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kurdy">Курды</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/k/kurmanch">Курманч</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Л</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/l/lazy">Лазы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/l/laktsy">Лакцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/l/latgaltsy">Латгальцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/l/latyshi">Латыши</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/l/lezginy">Лезгины</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/l/litovtsy">Литовцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/l/lugovo-vostochnye-mariytsy"
                >Лугово-восточные марийцы</a
              >
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">М</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/m/makedontsy">Македонцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mansi">Манси</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mariytsy">Марийцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/megrely">Мегрелы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mennonity">Меннониты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mishari">Мишари</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/moldavane">Молдаване</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mongoly">Монголы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mordva">Мордва</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mordva-moksha">Мордва-мокша</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/m/mordva-erzya">Мордва-эрзя</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Н</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/n/nagaybaki">Нагайбаки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/nanaytsy">Нанайцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/nganasan">Нганасаны</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/negidaltsy">Негидальцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/nemtsy">Немцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/nentsy">Ненцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/nivkhi">Нивхи</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/n/nogaytsy">Ногайцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">О</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/o/orochi">Орочи</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/o/osetiny">Осетины</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/o/osetiny-digortsy">Осетины-дигорцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/o/osetiny-irontsy">Осетины-иронцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">П</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/p/pakistantsy">Пакистанцы</a>
            </li>
            <li class="abc__item"><a href="../../nations/p/persy">Персы</a></li>
            <li class="abc__item">
              <a href="../../nations/p/polyaki">Поляки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/p/pomory">Поморы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Р</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/r/rumyny">Румыны</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/r/rusiny">Русины</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/r/russkie">Русские</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/r/rutultsy">Рутульцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">С</span>
          <ul class="abc__list">
            <li class="abc__item"><a href="../../nations/s/saamy">Саамы</a></li>
            <li class="abc__item"><a href="../../nations/s/svany">Сваны</a></li>
            <li class="abc__item">
              <a href="../../nations/s/selkupy">Селькупы</a>
            </li>
            <li class="abc__item"><a href="../../nations/s/serby">Сербы</a></li>
            <li class="abc__item"><a href="../../nations/s/setu">Сету</a></li>
            <li class="abc__item">
              <a href="../../nations/s/slovaki">Словаки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/s/sloventsy">Словенцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/s/soyoty">Сойоты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/s/sredneaziatskie-evrei"
                >Среднеазиатские евреи</a
              >
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Т</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/t/tabasarany">Табасараны</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tadzhiki">Таджики</a>
            </li>
            <li class="abc__item"><a href="../../nations/t/tazy">Тазы</a></li>
            <li class="abc__item">
              <a href="../../nations/t/talyshi">Талыши</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tatary">Татары</a>
            </li>
            <li class="abc__item"><a href="../../nations/t/taty">Таты</a></li>
            <li class="abc__item">
              <a href="../../nations/t/telengity">Теленгиты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/teleuty">Телеуты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tindaly">Тиндалы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tofalary">Тофалары</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tubalary">Тубалары</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tuvintsy">Тувинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/tuvintsy-todzhintsy">Тувинцы-тоджинцы</a>
            </li>
            <li class="abc__item"><a href="../../nations/t/turki">Турки</a></li>
            <li class="abc__item">
              <a href="../../nations/t/turki-meskhetintsy">Турки-месхетинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/t/turkmeny">Туркмены</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abc__inner-col">
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">У</span>
          <ul class="abc__list">
            <li class="abc__item"><a href="../../nations/u/udiny">Удины</a></li>
            <li class="abc__item">
              <a href="../../nations/u/udmurty">Удмурты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/u/udegeytsy">Удэгейцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/u/uzbeki">Узбеки</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/u/uigury">Уйгуры</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/u/uylta">Уйльта</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/u/ukraintsy">Украинцы</a>
            </li>
            <li class="abc__item"><a href="../../nations/u/ulchi">Ульчи</a></li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ф</span>
          <ul class="abc__list">
            <li class="abc__item"><a href="../../nations/f/finny">Финны</a></li>
            <li class="abc__item">
              <a href="../../nations/f/finny-ingermanlandtsy"
                >Финны-ингерманландцы</a
              >
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Х</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/h/khakasy">Хакасы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/h/khanty">Ханты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/h/khvarshiny">Хваршины</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/h/khemshily">Хемшилы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/h/horvaty">Хорваты</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ц</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/c/tsakhury">Цахуры</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/c/tsyganie">Цыгане</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ч</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/ch/chamalaly">Чамалалы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chelkanzy">Челканцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/cherkesogai">Черкесогаи</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/cherkesy">Черкесы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chernogortsy">Черногорцы</a>
            </li>
            <li class="abc__item"><a href="../../nations/ch/chehi">Чехи</a></li>
            <li class="abc__item">
              <a href="../../nations/ch/chechentsy">Чеченцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chechentsy-akkinzy">Чеченцы-аккинцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chuvancy">Чуванцы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chuvashi">Чуваши</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chukchi">Чукчи</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ch/chulymtsy">Чулымцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ш</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/sh/shapsugi">Шапсуги</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/sh/shortsy">Шорцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Э</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/e/evenki">Эвенки</a>
            </li>
            <li class="abc__item"><a href="../../nations/e/eveny">Эвены</a></li>
            <li class="abc__item"><a href="../../nations/e/entsy">Энцы</a></li>
            <li class="abc__item">
              <a href="../../nations/e/eskimosy">Эскимосы</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/e/estoncy">Эстонцы</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Ю</span>
          <ul class="abc__list">
            <li class="abc__item"><a href="../../nations/yu/yugi">Юги</a></li>
            <li class="abc__item">
              <a href="../../nations/yu/yukagiry">Юкагиры</a>
            </li>
          </ul>
        </div>
        <div class="abc__list-wrapper">
          <span class="abc__list-icon">Я</span>
          <ul class="abc__list">
            <li class="abc__item">
              <a href="../../nations/ya/yakuty">Якуты</a>
            </li>
            <li class="abc__item">
              <a href="../../nations/ya/yaponcy">Японцы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
