html {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: var(--general-text);
  background: var(--general-bg);

  &--opened-menu {
    overflow: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
}

.main {
  flex-grow: 1;
}

.overflow {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: none;
  background: #0000005d;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  transition: var(--transition);

  &.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.map,
.stories,
.tests {
  padding-bottom: 150px;

  @include small-tablet {
    padding-bottom: 100px;
  }
}
