:root {
  --general-text: #312c27;
  --accent-text: #000;
  --general-bg: #eee;
  --accent-bg: #fff;
  --accent-color: #37599b;
  --transition: all 0.3s;
  --border-radius: 10px;
  --container-width: 1300px;
}
