// ----СТИЛИ ДЛЯ САЙДБАРА----
.sidebar {
  position: relative;
  padding-right: 20px;
  width: 30%;
  min-height: 100dvh;

  @include mobile {
    display: none;
  }

  &__nav {
    position: sticky;
    top: 0;
  }

  &__item {
    font-weight: 500;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__link {
    transition: var(--transition);
  }

  &__link:hover {
    font-weight: 600;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.main {
  &__nations-open {
    width: 70%;

    @include mobile {
      width: 100%;
    }
  }
}

// ----СТИЛИ ДЛЯ ШАПКИ----

.hero {
  text-align: center;
  color: var(--general-bg);

  &__inner {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    padding-top: 28px;
    padding-bottom: 100px;
    min-height: 540px;
    background: url('../assets/img/decor/Vector-3.svg') no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #25395f;

    @include tablet {
      background-size: contain;
    }

    @include small-tablet {
      padding: 28px 20px 80px;
      min-height: 400px;
    }

    @include mobile {
      min-height: 250px;
    }
  }

  &__title {
    position: relative;
    z-index: 5;
    margin-bottom: 36px;
    font-family: Caveat, serif;
    font-weight: 500;
    font-size: 96px;

    @include tablet {
      margin-bottom: 26px;
      font-size: 96px;
    }

    @include mobile {
      font-size: 46px;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 403px;
    object-fit: fill;
  }
}

.hero,
.text-block {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 50px;
  }
}

.w-420 {
  max-width: 420px;
}

.max-w-440 {
  max-width: 440px;
}

.tests {
  background: url('../img/decor/Vector-2.svg') no-repeat;
  background-position: 50% 70%;
  background-size: contain;

  &__block-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;

    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &__block {
    overflow: hidden;
    border-radius: var(--border-radius);
    padding: 25px 25px 45px;
    height: 450px;
    max-width: 420px;
    background: #fff;
    cursor: pointer;

    &-descr {
      margin-top: 24px;
      margin-bottom: 37px;
      font-weight: 500;
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition);
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
    }

    &-btn {
      opacity: 0;
      visibility: hidden;
      transition: var(--transition);
    }

    &-image {
      margin-bottom: 37px;
      border-radius: var(--border-radius);
      width: 100%;
      height: 305px;
      object-fit: cover;
      object-position: center top;
      transition: var(--transition);
    }
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.tests__block:hover .tests__block-image {
  height: 146px;
  object-fit: cover;
}

/* stylelint-disable-next-line selector-class-pattern */
.tests__block:hover .tests__block-descr,
/* stylelint-disable-next-line selector-class-pattern */
.tests__block:hover .tests__block-btn {
  margin-bottom: 15px;
  opacity: 1;
  visibility: visible;
}
