<section class="breadcrumbs-sec">
  <div class="contaner">
    <nav class="breadcrumbs" aria-label="Breadcrumb">
      <div class="container">
        <div class="container">
          <ul class="breadcrumbs__list">
            <li><a href="/">Главная</a></li>
            <li>Тесты</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
<section class="hero">
  <div class="container">
    <div class="hero__top">
      <div class="hero__top-descr">
        <div class="hero__top-left">
          <h2 class="hero__title title">
            Тесты: <br />
            Проверь себя!
          </h2>
        </div>
        <p class="hero__descr hero__descr--tests">
          Тесты на знание истории России, её народов и традиций – это не только
          способ оценить свою эрудицию, но и возможность глубже понять богатство
          нашей культуры. Каждый вопрос – повод вспомнить славные страницы
          прошлого, уникальные обычаи разных регионов и то, что объединяет нас
          всех. Проверьте себя и убедитесь: наше единство – в многообразии
        </p>
      </div>
    </div>
  </div>
</section>
