<section class="breadcrumbs-sec">
  <div class="contaner">
    <nav class="breadcrumbs" aria-label="Breadcrumb">
      <div class="container">
        <div class="container">
          <ul class="breadcrumbs__list">
            <li><a href="/">Главная</a></li>
            <li>Люди и истории</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
<section class="hero hero--biog">
  <div class="container">
    <div class="hero__top">
      <div class="hero__top-descr hero__top-descr--biog">
        <div class="hero__top-left">
          <h2 class="hero__title title hero__title--biog">
            Страна — это её люди.
          </h2>
          <ul class="hero__avatars">
            <li class="hero__avatars-item">
              <img src="/assets/img/content/avatar-1.jpg" alt="" />
            </li>
            <li class="hero__avatars-item">
              <img src="/assets/img/content/avatar-2.jpg" alt="" />
            </li>
          </ul>
        </div>
        <p class="hero__descr hero__descr--biog">
          В каждом уголке нашей многонациональной страны, в каждом народе и
          культуре есть люди, чей труд, талант и доброта делают мир лучше. Их
          истории — это не просто примеры успеха, а доказательство того, что вне
          зависимости от национальности, веры или происхождения человек способен
          на великие дела. Выбирайте категорию и знакомьтесь с теми, кто уже
          меняет реальность
        </p>
      </div>
    </div>
  </div>
</section>
