<section class="people-list">
  <div class="container">
    <div class="people-list__tags">
      <ul class="tags people-list__tags">
        <li class="tags__item active" data-category="Все">Все</li>
        <li class="tags__item" data-category="Наука">Наука</li>
        <li class="tags__item" data-category="Искусство">Искусство</li>
        <li class="tags__item" data-category="Спорт">Спорт</li>
        <li class="tags__item" data-category="Литература">Литература</li>
        <li class="tags__item" data-category="Общественная деятельность">
          Общественная деятельность
        </li>
        <li class="tags__item" data-category="Медицина">Медицина</li>
      </ul>
    </div>
    <ul class="people-list__list">
      <li class="people-list__item" data-category="Наука">
        <a href="/../biography/artyom-oganov.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/artyom-oganov.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Артём Оганов</h4>
          <p class="people-list__item-descr">
            Кристаллохимик и материаловед, доктор физико-математических наук
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Наука">
        <a href="/../biography/dmitrij-mendeleev.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/dmitrij-mendeleev.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Дмитрий Менделеев</h4>
          <p class="people-list__item-descr">
            Выдающийся русский учёный-энциклопедист
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Спорт">
        <a href="/../biography/anna-bogalij.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/anna-bogalij.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Анна Богалий</h4>
          <p class="people-list__item-descr">
            Двукратная олимпийская чемпионка по биатлону
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Искусство">
        <a href="/../biography/konstantin-stanislavskij.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/konstantin-stanislavskij.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Константин Станиславский</h4>
          <p class="people-list__item-descr">
            Театральный режиссёр, актёр, педагог, теоретик, реформатор театра
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Наука">
        <a href="/../biography/oleg-blinov.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/oleg-blinov.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Олег Блинов</h4>
          <p class="people-list__item-descr">
            Начальник лаборатории по созданию комплексных тренажёров
            перспективных транспортных кораблей
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Общественная деятельность">
        <a href="/../biography/ruslan-lobashev.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/ruslan-lobashev.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Руслан Лобашев</h4>
          <p class="people-list__item-descr">Один из лучших сварщиков России</p>
        </a>
      </li>
      <li class="people-list__item" data-category="Спорт">
        <a href="/../biography/aleksandr-ovechkin.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/aleksandr-ovechkin.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Александр Овечкин</h4>
          <p class="people-list__item-descr">
            Российский хоккеист. Является лучшим снайпером в истории чемпионатов
            Национальной хоккейной лиги
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Медицина, Наука">
        <a href="/../biography/vladimir-demihov.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/vladimir-demihov.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Владимир Демихов</h4>
          <p class="people-list__item-descr">
            Советский и российский биолог и учёный-экспериментатор, один из
            основоположников трансплантологии
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Литература">
        <a href="/../biography/aleksandr-pushkin.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/aleksandr-pushkin.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Александр Пушкин</h4>
          <p class="people-list__item-descr">
            Русский поэт, драматург и прозаик, заложивший основы русского
            реалистического направления
          </p>
        </a>
      </li>
      <li class="people-list__item" data-category="Медицина, Наука">
        <a href="/../biography/vladimir-demihov.html">
          <img
            class="people-list__item-img"
            src="/../assets/img/content/people/vladimir-demihov.jpg"
            alt=""
          />
          <h4 class="people-list__item-title">Владимир Демихов</h4>
          <p class="people-list__item-descr">
            Советский и российский биолог и учёный-экспериментатор, один из
            основоположников трансплантологии
          </p>
        </a>
      </li>
    </ul>
    <button id="showMoreBtn" class="people-list__show-more button">
      Показать все
    </button>
  </div>
</section>
