<section class="hero">
  <div class="container">
    <div class="hero__top">
      <ul class="tags hero__tags">
        <li class="tags__item">Единство</li>
        <li class="tags__item">Культура</li>
        <li class="tags__item">Многообразие</li>
        <li class="tags__item">Патриотизм</li>
      </ul>
      <div class="hero__top-descr">
        <h2 class="hero__title title">Вместе мы — Россия</h2>
        <p class="hero__descr">
          Сотни народов, языков и традиций. Мы разные, но сердцем и духом едины.
          Наша сила в уважении, а наша гордость в наследии. Одна страна, одна
          семья, одна история!
        </p>
      </div>
    </div>
    <div class="hero__image-cont">
      <img
        class="hero__image"
        src="../../assets/img/content/hero/people.jpg"
        alt=""
      />
      <a href="" class="hero__image-btn button"> Народы </a>
    </div>
  </div>
</section>
