<section class="map">
  <div class="container">
    <h2 class="main__title title">Карта народов</h2>
    <p class="main__descr map__descr">
      На карте — народы России. Выберите регион, чтобы увидеть, кто здесь живёт
      и сколько их. Откройте для себя многообразие нашей страны!
    </p>
    <div class="map__image-cont">
      <img src="../assets/img/content/russia-map.png" alt="Карта России" />
    </div>
    <p class="map__image-descr">
      По данным всероссийской переписи населения 2020 года
    </p>
  </div>
</section>
