<section class="stories">
  <div class="stories__top">
    <div class="container">
      <h2 class="main__title title">Люди и истории</h2>
      <p class="main__descr">
        За каждым народом — живые люди с уникальными судьбами. Здесь мы
        рассказываем истории тех, кто хранит традиции предков и создаёт будущее
      </p>
    </div>
  </div>
  <div class="stories__slider">
    <div class="stories__slider-btn-cont container">
      <div class="stories__slider-button stories__slider-button--prev">
        <svg
          width="13"
          height="23"
          viewBox="0 0 13 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.9685 1.8022L11.1647 5.91278e-05L1.3396 9.82173C1.18122 9.9791 1.05553 10.1662 0.969767 10.3724C0.883998 10.5785 0.839844 10.7996 0.839844 11.0229C0.839844 11.2461 0.883998 11.4672 0.969767 11.6734C1.05553 11.8795 1.18122 12.0666 1.3396 12.224L11.1647 22.0508L12.9668 20.2486L3.74529 11.0254L12.9685 1.8022Z"
            fill="black"
          />
        </svg>
      </div>
      <div class="stories__slider-button stories__slider-button--next">
        <svg
          width="13"
          height="23"
          viewBox="0 0 13 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.734619 1.8022L2.53846 5.91278e-05L12.3635 9.82173C12.5219 9.9791 12.6476 10.1662 12.7334 10.3724C12.8191 10.5785 12.8633 10.7996 12.8633 11.0229C12.8633 11.2461 12.8191 11.4672 12.7334 11.6734C12.6476 11.8795 12.5219 12.0666 12.3635 12.224L2.53846 22.0508L0.736319 20.2486L9.95784 11.0254L0.734619 1.8022Z"
            fill="black"
          />
        </svg>
      </div>
    </div>
    <div class="swiper stories__slider-inner">
      <div class="swiper-wrapper stories__slider-wrapper">
        <div class="swiper-slide stories__slide">
          <img
            src="../../../assets../../../assets/img/slider/ruslan-lobasev.jpg"
            alt=""
          />
          <div class="stories__slide-info">
            <h4 class="stories__slide-title">Руслан Лобашев</h4>
            <p class="stories__slie-descr">
              Один из лучших сварщиков России. Его путь к успеху начался в
              Тверском колледже имени Кайкова
            </p>
          </div>
        </div>
        <div class="swiper-slide stories__slide">
          <img src="../../../assets/img/slider/egor-karpushin.jpg" alt="" />
          <div class="stories__slide-info">
            <h4 class="stories__slide-title">Егор Карпушин</h4>
            <p class="stories__slie-descr">
              Ученик 9-го класса стал победителем образовательно- краеведческого
              проекта «Юный полярник»
            </p>
          </div>
        </div>
        <div class="swiper-slide stories__slide">
          <img
            src="../../../assets/img/slider/bogali-anna-ivanovna.jpg"
            alt=""
          />
          <div class="stories__slide-info">
            <h4 class="stories__slide-title">Богалий Анна Ивановна</h4>
            <p class="stories__slie-descr">
              Главная задача Анны научить детей бороться и поддерживать в них
              интерес к спорту, воспитать в них командный дух, дисциплину и
              патриотизм
            </p>
          </div>
        </div>
        <div class="swiper-slide stories__slide">
          <img src="../../../assets/img/slider/ruslan-lobasev.jpg" alt="" />
          <div class="stories__slide-info">
            <h4 class="stories__slide-title">Руслан Лобашев</h4>
            <p class="stories__slie-descr">
              Один из лучших сварщиков России. Его путь к успеху начался в
              Тверском колледже имени Кайкова
            </p>
          </div>
        </div>
        <div class="swiper-slide stories__slide">
          <img src="../../../assets/img/slider/egor-karpushin.jpg" alt="" />
          <div class="stories__slide-info">
            <h4 class="stories__slide-title">Егор Карпушин</h4>
            <p class="stories__slie-descr">
              Ученик 9-го класса стал победителем образовательно- краеведческого
              проекта «Юный полярник»
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <a class="button button-2" href="pages/stories.html"
      >Все истории<svg
        width="38"
        height="20"
        viewBox="0 0 38 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.998657 10L36.332 10M36.332 10L27.832 18.5M36.332 10L27.832 1.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</section>
