<section class="tests">
  <div class="container">
    <h2 class="main__title title">Тесты</h2>
    <p class="main__descr">
      Тесты на знание истории России, её народов и традиций – это не только
      способ проверить свой уровень знаний и повод лишний раз задуматься о нашем
      единстве в многообразии
    </p>
    <ul class="tests__block-list">
      <li class="tests__block">
        <img
          class="tests__block-image"
          src="../../../assets/img/tests/eticeskij-sostav.jpg"
          alt="Группа нарядных людей смотрят в сторону"
        />
        <h6 class="tests__block-title">
          Тест на знание этнического состава России
        </h6>
        <p class="tests__block-descr">
          Проверьте, сможете ли вы определить, на каких языках говорят народы
          России
        </p>
        <a
          href="../../../tests/etnicheskij-sostav-rossii.html"
          class="button tests__block-btn"
          >Пройти тест</a
        >
      </li>
      <li class="tests__block">
        <img
          class="tests__block-image"
          src="../../../assets/img/tests/nacionalnaja-odezda.jpg"
          alt="Картонные матрешки смотрят вперед"
        />
        <h6 class="tests__block-title">Тест на знание языков народов России</h6>
        <p class="tests__block-descr">
          Проверьте, сможете ли вы определить, на каких языках говорят народы
          России
        </p>
        <a
          href="../../../tests/yazyki-narodov-rossii.html"
          class="button tests__block-btn"
          >Пройти тест</a
        >
      </li>
      <li class="tests__block">
        <img
          class="tests__block-image"
          src="../../../assets/img/tests/nacionalnaja-odezda.jpg"
          alt="Четыре женщины в национальной одежде стоят в ряд"
        />
        <h6 class="tests__block-title">
          Тест на знание этнического состава России
        </h6>
        <p class="tests__block-descr">
          Проверьте, сможете ли вы определить, на каких языках говорят народы
          России
        </p>
        <a
          href="../../../tests/etnicheskij-sostav-rossii.html"
          class="button tests__block-btn"
          >Пройти тест</a
        >
      </li>
    </ul>
    <a class="button button-2" href="../../../tests.html"
      >Все тесты<svg
        width="38"
        height="20"
        viewBox="0 0 38 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.998657 10L36.332 10M36.332 10L27.832 18.5M36.332 10L27.832 1.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</section>
