.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.4583;

  @include small-tablet {
    font-size: 38px;
    line-height: 1;
  }

  @include small-mobile {
    font-size: 36px;
  }
}

.main {
  &__title {
    margin-bottom: 25px;
  }

  &__descr {
    margin-bottom: 61px;
    width: 100%;
    max-width: 530px;
  }
}
